/* .list.subsection {
  color: green;
} */
.subsection {
  color: blue;
}
/* .main .subsection {
  color: orange;
} */

/* /* .main .subsection {
  color: red;
} */

/* .test-id {
  background-color: red;
}

.test-id-text {
  color: green;
}

p {
  color: white;
}

.test-id-text #id-tst {
  color: blue;
} */ 


.inhert-test {
    color: black;
}

